<!-- <ng-container *ngIf="productList.length !== 0">
  <div class="container h-100 py-5">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col">
        <div class="card shopping-cart" style="border-radius: 15px;">
          <div class="card-body text-black">
            <div class="row">
      
              <div class="col-lg-6 px-5 py-4">
                <h3 class="mb-5 pt-2 text-center fw-bold text-uppercase">สินค้าที่เลือก</h3>
                <table>
                  <tbody>
                    <tr *ngFor="let item of productList; let i = index">
                      <div class="d-flex align-items-center mb-5">
                        <div class="flex-shrink-0">
                          <img *ngIf="item.imgList.length > 0" [src]="item.imgList[0]" class="img-fluid" style="width: 150px;" [alt]="item.productName | slice: 0:25">
                        </div>
                        <div class="flex-grow-1 ms-3">
                          <a (click)="removeItem(item)" class="float-end text-black"><i class="fas fa-times"></i></a>
                          <h6 class="text-primary">{{ item.productName | slice: 0:45 }}...</h6>
                          <p style="color: #9e9e9e;">{{ item.productDesc | slice: 0:45 }}...</p>
                          <div class="align-items-center">
                            <p class="card-text text-danger font-weight-bold">ราคา {{ item.price | currency : ' ฿ ' }}</p>
                            <div class="d-flex align-items-center mb-3">
                              <button type="button" class="minus btn-white btn-sm" data-mdb-button-init (click)="decrementQuantity(item)">-</button>
                              <input class="quantity form-control form-control-sm text-center" min="0" name="quantity" [(ngModel)]="item.quantity" type="number" value="1">
                              <button type="button" class="plus btn-white btn-sm" data-mdb-button-init (click)="incrementQuantity(item)">+</button>
                            </div>
                          </div>
                        </div>
                      </div>
                    </tr>
                  </tbody>
                </table>
                <hr class="mb-4" style="height: 2px; background-color: #1266f1; opacity: 1;">
              </div>

              <div class="col-lg-6 px-5 py-4">
                <h3 class="mb-5 pt-2 text-center fw-bold text-uppercase">กรอกที่อยู่ในการจัดส่ง</h3>
                <form [formGroup]="formData" (ngSubmit)="onSubmit()">
                  <div class="form-outline form-white mb-4">
                    <input formControlName="address" type="text" class="form-control text-light bg-dark" placeholder="รายละเอียดที่อยู่">
                    <p class="text-white">รายละเอียดที่อยู่</p>
                  </div>
                  <div class="row mb-4">
                    <div class="col-md-6">
                      <div class="form-outline form-white">
                        <input formControlName="province" type="text" class="form-control text-light bg-dark" placeholder="จังหวัด/อำเภอ/ตำบล">
                        <p class="text-white">จังหวัด/อำเภอ/ตำบล</p>
                      </div>
                    </div>
                  </div>
                  <div class="row mb-4">
                    <div class="col-md-6">
                      <div class="form-outline form-white">
                        <input formControlName="zipcode" type="text" class="form-control text-light bg-dark" placeholder="รหัสไปรษณีย์">
                        <p class="text-white">รหัสไปรษณีย์</p>
                      </div>
                    </div>
                  </div>
                  <div class="d-flex justify-content-between">
                    <p class="mb-2">ราคา</p>
                    <p class="mb-2">{{ grandTotal | currency: ' ฿ ' }}</p>
                  </div>
                  <div class="d-flex justify-content-between mb-4">
                    <p class="mb-2">รวมราคา</p>
                    <p class="mb-2">{{ grandTotal | currency: ' ฿ ' }}</p>
                  </div>
                  <button type="submit" class="btn btn-success btn-block btn-lg">
                    <div class="d-flex justify-content-between">
                      <span>{{ grandTotal | currency: ' ฿ ' }}</span>
                      <span>ยืนยันการสั่งซื้อ <i class="fas fa-long-arrow-alt-right ms-2"></i></span>
                    </div>
                  </button>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</ng-container> --><div class="grid sm:px-10 lg:grid-cols-2 lg:px-20 xl:px-32">
  <div class="px-4 pt-4">
    <p class="text-xl font-medium">Order Summary</p>
    <p class="text-gray-400">Check your items and select a suitable shipping method.</p>
    <div class="space-y-1 rounded-lg border bg-white px-2 py-2 sm:px-6" *ngFor="let item of productList; let i = index">
      <div class="flex flex-col rounded-lg bg-white sm:flex-row items-center">
        <img *ngIf="item.imgList.length > 0" [src]="item.imgList[0]" class="m-2 h-24 w-24 rounded-md border object-cover object-center" [alt]="item.productName | slice: 0:25" />
        <div class="flex w-full flex-col px-4 py-2">
          <span class="font-semibold">{{ item.productName | slice: 0:45 }}...</span>
          <span class="text-gray-400">{{ item.productDesc | slice: 0:45 }}...</span>
          <p class="text-lg font-bold">ราคา {{ item.price | currency : ' ฿ ' }}</p>
          <div class="flex items-center mt-2">
            <button type="button" class="minus btn-white btn-sm" (click)="decrementQuantity(item)">-</button>
            <input class="quantity form-control form-control-sm text-center mx-2" min="0" name="quantity" [(ngModel)]="item.quantity" type="number" value="1">
            <button type="button" class="plus btn-white btn-sm" (click)="incrementQuantity(item)">+</button>
          </div>
          <button (click)="removeItem(item)" class="mt-2 text-red-500 hover:text-red-700">Remove</button>
        </div>
      </div>
    </div>
  </div>
  <div class="mt-4 bg-gray-50 px-4 pt-4 lg:mt-0">
    <p class="text-xl font-medium">Payment Details</p>
    <p class="text-gray-400">Complete your order by providing your payment details.</p>
    <div [formGroup]="formData" (ngSubmit)="onSubmit()">
      <label for="address" class="mt-4 mb-2 block text-sm font-medium">ที่อยู่ บ้านเลขที่</label>
      <div class="relative">
        <input formControlName="address" type="text" id="address" name="address" class="w-full rounded-md border border-gray-200 px-4 py-3 pl-11 text-sm shadow-sm outline-none focus:z-10 focus:border-blue-500 focus:ring-blue-500" placeholder="" />
        <div class="pointer-events-none absolute inset-y-0 left-0 inline-flex items-center px-3">
          <svg xmlns="http://www.w3.org/2000/svg" class="h-4 w-4 text-gray-400" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
            <path stroke-linecap="round" stroke-linejoin="round" d="M16 12a4 4 0 10-8 0 4 4 0 008 0zm0 0v1.5a2.5 2.5 0 005 0V12a9 9 0 10-9 9m4.5-1.206a8.959 8.959 0 01-4.5 1.207" />
          </svg>
        </div>
      </div>
      <label for="province" class="mt-4 mb-2 block text-sm font-medium">รายละเอียดที่อยู่</label>
      <div class="relative">
        <input formControlName="province" type="text" id="province" name="province" class="w-full rounded-md border border-gray-200 px-4 py-3 pl-11 text-sm uppercase shadow-sm outline-none focus:z-10 focus:border-blue-500 focus:ring-blue-500" placeholder="" />
        <div class="pointer-events-none absolute inset-y-0 left-0 inline-flex items-center px-3">
          <svg xmlns="http://www.w3.org/2000/svg" class="h-4 w-4 text-gray-400" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
            <path stroke-linecap="round" stroke-linejoin="round" d="M15 9h3.75M15 12h3.75M15 15h3.75M4.5 19.5h15a2.25 2.25 0 002.25-2.25V6.75A2.25 2.25 0 0019.5 4.5h-15a2.25 2.25 0 00-2.25 2.25v10.5A2.25 2.25 0 004.5 19.5zm6-10.125a1.875 1.875 0 11-3.75 0 1.875 1.875 0 013.75 0zm1.294 6.336a6.721 6.721 0 01-3.17.789 6.721 6.721 0 01-3.168-.789 3.376 3.376 0 016.338 0z" />
          </svg>
        </div>
      </div>
      <label for="zipcode" class="mt-4 mb-2 block text-sm font-medium">เบอร์</label>
      <div class="flex">
        <div class="relative w-7/12 flex-shrink-0">
          <input formControlName="zipcode" type="text" id="zipcode" name="zipcode" class="w-full rounded-md border border-gray-200 px-2 py-3 pl-11 text-sm shadow-sm outline-none focus:z-10 focus:border-blue-500 focus:ring-blue-500" placeholder="" />
          <div class="pointer-events-none absolute inset-y-0 left-0 inline-flex items-center px-3">
            <svg class="h-4 w-4 text-gray-400" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" viewBox="0 0 16 16">
              <path d="M11 5.5a.5.5 0 0 1 .5-.5h2a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-2a.5.5 0 0 1-.5-.5v-1z" />
              <path d="M2 2a2 2 0 0 0-2 2v8a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V4a2 2 0 0 0-2-2H2zm13 2v5H1V4a1 1 0 0 1 1-1h12a1 1 0 0 1 1 1zm-1 9H2a1 1 0 0 1-1-1v-1h14v1a1 1 0 0 1-1 1z" />
            </svg>
          </div>
        </div>
      </div>
      <div class="mt-6">
        <div class="flex items-center justify-between">
          <p class="text-sm font-medium text-gray-900">ราคา</p>
          <p class="font-semibold text-gray-900">{{ grandTotal | currency: ' ฿ ' }}</p>
        </div>
        <div class="flex items-center justify-between mt-2">
          <p class="text-sm font-medium text-gray-900">Total</p>
          <p class="text-2xl font-semibold text-gray-900">{{ grandTotal | currency: ' ฿ ' }}</p>
        </div>
      </div>
      <!-- <button type="button" class="mt-4 w-full rounded-md bg-gray-900 px-6 py-3 font-medium text-white float-right" data-bs-toggle="modal" data-bs-target="#paymentModal2">
        <div class="d-flex justify-content-between">
            <span>ยืนยันการสั่งซื้อ</span>
        </div>
    </button> -->
      <button type="button" class="mt-4 w-full rounded-md bg-gray-900 px-6 py-3 font-medium text-white" data-bs-toggle="modal" data-bs-target="#paymentModal2" >Place Order</button>
    </div>
  </div>
</div>

<div class="modal fade" id="paymentModal2">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title mx-3" id="paymentModal2Label">ชำระพร้อมเพย์</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body text-center">
        <img class="w-64 h-64 rounded mx-auto d-block" [src]="qrCodeUrl" alt="QR Code">
        <button class="btn btn-active btn-neutral text-simple large-text-button mt-3">
          <span>ราคา </span>
          <span>{{ grandTotal | currency: ' ฿ ' }}</span>
        </button>
      </div>
      <div> <input  formControlName="files" #fileInput (change)="onFileChanged($event)"placeholder="QRCode" class="form-control here"  type="file" multiple></div>
      <div class="modal-footer justify-content-center">
        <button type="submit" class="btn btn-success btn-blocklg" (click)="onSubmit()" data-bs-dismiss="modal">ยืนยัน</button>
      </div>      
    </div>
  </div>
</div>
