.post-card {
    transition: transform 0.2s;
  }
  .post-card:hover {
    transform: translateY(-10px);
  }
  .tag {
    background-color: #e0f7fa;
    color: #455a64;
    border-radius: 20px;
    padding: 5px 15px;
    font-size: 0.75rem;
  }
  .custom-img {
    width: 70%; /* Set your desired width */
    height: auto; /* Maintain aspect ratio */
  }
  .card-img-top.custom-img {
    max-width: 100%;
    max-height: 100%;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  
  .carousel-inner img {
    width: 95%;
    height: 500px; /* กำหนดความสูงให้คงที่ /
    object-fit: cover; / ทำให้รูปภาพเต็มพื้นที่แต่ไม่เสียสัดส่วน */
}

.full-screen {
  height: 270vh;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-image: url('https://static.thairath.co.th/media/4DQpjUtzLUwmJZZSBzn4bWdnRWcYWjpNjq9FFATFnQBy.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.container {
  width: 100%;
  height: 100%;
  /* background-color: rgba(255, 255, 255, 0.8);  */
}
.container {
  margin: 2px auto; /* ระยะห่างจากขอบด้านบนและขอบซ้ายขวา */
  padding: 20px; /* ระยะห่างภายใน */
  max-width: 1200px; /* กำหนดความกว้างสูงสุด */
   background-color: rgba(183, 183, 183, 0.874) 
}

.image-row {
  display: flex;
  justify-content: center; /* จัดกึ่งกลางในแนวนอน */
  align-items: center;     /* จัดกึ่งกลางในแนวตั้ง */
  gap: 10px;               /* ช่องว่างระหว่างรูปภาพ */
  padding: 20px;           /* ช่องว่างภายในรอบ ๆ รูปภาพ */
}

.image-container {
  flex: 1;                  /* ปรับขนาด container ให้มีขนาดเท่ากัน */
  max-width: 33%;           /* จำกัดขนาดสูงสุดที่ 33% ของ container หลัก */
  box-sizing: border-box;   /* รวม padding และ border ในการคำนวณขนาด */
}

.image-container img {
  width: 100%;              /* ทำให้รูปภาพเต็ม container */
  height: auto;             /* รักษาอัตราส่วน */
}