
<div class="modal fade pt-4" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered custom-modal-width">
    <div class="modal-content">
      <div class="modal-header bg-white shadow-dark">
        <h4 class="modal-title text-black" id="exampleModalLabel">
          สถานะการชำระเงิน
        </h4>
        <button type="button" class="btn-close red-btn" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body d-flex flex-column align-items-center">
        <form [formGroup]="updateForm" (ngSubmit)="onSubmit()">
          <div class="modal-body d-flex flex-column align-items-center">
            <form [formGroup]="updateForm" (ngSubmit)="onSubmit()">
              <div class="modal-body-content w-100 text-center">
                <div class="form-outline">
                  <label class="form-label" for="paymentStatus">สถานะการชำระเงิน</label>
                  <select formControlName="status" id="paymentStatus" class="form-select form-select-lg">
                    <option *ngFor="let status of statuses" [value]="status.value" [selected]="status.value == selectedProduct?.status">
                      {{ status.label }}
                    </option>
                  </select>
                </div>
                <br />
                <button name="submit" type="submit" class="btn btn-success">
                  Update สถานะการชำระเงิน
                </button>
              </div>
            </form>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

