<div *ngFor="let order of orderList" class="bg-white lg:border-gray-300 p-4 mb-4 rounded-lg shadow-sm">
  <div class="bg-gray-600 shadow-dark border-radius-lg p-3 d-flex justify-content-between align-items-center">
    <h6 class="text-white text-capitalize">จัดการคำสั่งซื้อ</h6>
    <div class="d-flex ms-auto">
        <!-- <button class="btn btn-warning me-1 btn-sm"  (click)="setSelectedProduct(order)" data-bs-toggle="modal" data-bs-target="#exampleModal">แก้ไข</button> -->
        <!-- <button class="btn btn-danger btn-sm" (click)="onDeleteOrder(order.ordersId)" data-bs-toggle="modal" data-bs-target="#exampleModal">ยกเลิกคำสั่งซื้อ</button> -->
        
    </div>
</div>
  
  
  <table class="min-w-full border-collapse border-spacing-y-2 border-spacing-x-2">
    <thead>
      <tr class="bg-gray-100">
        <th class="whitespace-normal py-4 text-sm font-medium text-gray-600 sm:px-3 text-center">สินค้า</th>
        <th class="whitespace-normal py-4 text-sm font-medium text-gray-600 sm:px-3 text-center">ชื่อ-นามสกุล</th>
        <th class="whitespace-normal py-4 text-sm font-medium text-gray-600 sm:px-3 text-center">ที่อยู่</th>
        <th class="whitespace-normal py-4 text-sm font-medium text-gray-600 sm:px-3 text-center">วันที่สั่งสินค้า</th>
        <th class="whitespace-normal py-4 text-sm font-medium text-gray-600 sm:px-3 text-center">รายละเอียดสินค้า</th>
        <th class="whitespace-normal py-4 text-sm font-medium text-gray-600 sm:px-3 text-center">จำนวน</th>
        <th class="whitespace-normal py-4 text-sm font-medium text-gray-600 sm:px-3 text-center">ราคารวม</th>
        <th class="whitespace-normal py-4 text-sm font-medium text-gray-600 sm:px-3 text-center">สถานะการชำระเงิน</th>
        <th class="whitespace-normal py-4 text-sm font-medium text-gray-600 sm:px-3 text-center">สลิป</th>
        <th class="whitespace-normal py-4 text-sm font-medium text-gray-600 sm:px-3 text-center">จัดการ</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let product of order.productList; let i = index" class="border-b">
        <td class="p-4 text-center">
          <div class="d-flex px-2 py-1">
            <div>
              <img *ngIf="product.imgList.length > 0" [src]="product.imgList[0]" class="product-img w-16 h-16 object-cover" alt="Product Image">
            </div>
          </div>
        </td>
        <td class="p-4 text-center text-sm text-gray-700">
          <div class="d-flex flex-column justify-content-center">
            <h6 class="mb-0 text-sm">{{ order.userData.fristName }} {{ order.userData.lastName }}</h6>
          </div>
        </td>
        <td class="p-4 text-center text-sm text-gray-600">
          <span class="text-secondary text-xs font-weight-bold">{{ order.address }} {{ order.province }} {{ order.zipcode }}</span>
        </td>
        <td class="p-4 text-center text-sm text-gray-600">
          <span class="text-secondary text-xs font-weight-bold">{{ order.createDate | date: 'medium' }}</span>
        </td>
        <td class="p-4 text-center text-sm text-gray-600">
          <span class="text-secondary text-xs font-weight-bold">{{ product.productDesc }}</span>
        </td>
        <td class="p-4 text-center text-sm text-gray-600">
          <span class="text-secondary text-xs font-weight-bold">{{ getQuantity(order, product.productId) }} ชิ้น</span>
        </td>
        <td class="p-4 text-center text-sm text-gray-600">
          <span class="text-secondary text-danger font-weight-bold">{{ product.price * getQuantity(order, product.productId) | currency : 'THB' }}</span>
        </td>
        <td class="p-4 text-center text-sm text-gray-600" >
          <span *ngIf="order.status == '1'" class="badge badge-x bg-gradient-warning">รอการตรวจสอบ</span>
          <span *ngIf="order.status == '2'" class="badge badge-sm bg-gradient-success">ชำระเงินแล้ว รอการจัดส่ง</span>
          <span *ngIf="order.status == '3'" class="badge badge-sm bg-gradient-danger">ยังไม่ชำระเงิน</span>
          <span *ngIf="order.status == '4'" class="badge badge-sm bg-gradient-secondary">ชำระเงินไม่ครบ กรุณาตรวจสอบ</span>
        </td>
        <td class="px-2 py-4 whitespace-nowrap text-xs text-gray-500" (click)="setSelectedOrder(order)" data-bs-toggle="modal" data-bs-target="#exampleModals">
          <div *ngFor="let payment of order.paymentImage; let i = index"  >
            
            <!-- <div class="d-flex justify-between"  *ngIf="order.paymentImage && order.paymentImage.length > 0; else noPaymentImage"> -->
                <img *ngIf="payment.imgList.length > 0" [src]="payment.imgList[0]" class="product-img" alt="Payment Image" width="100" />
            <!-- </div> -->
        <!-- <ng-template #noPaymentImage>
          <p class="text-bold">เก็บเงินปลายทาง</p>
        </ng-template> -->
        </div>
        </td>
        <td class="p-4 text-center text-sm text-gray-600">
          <div class="d-flex justify-content-between mx-auto" style="width: 80px;">
            <button (click)="setSelectedProduct(order)" data-bs-toggle="modal" data-bs-target="#exampleModal" type="button" class="btn btn-outline-warning">
              <i class="bi bi-pencil-square"></i>
            </button>
                          
            <!-- <button type="button" class="btn btn-outline-danger" (click)="setSelectedProduct1(order)" data-bs-toggle="modal" data-bs-target="#exampleModal" >
              <i class="bi bi-trash-fill"></i>
              <span *ngIf="order.status == '6'" class="badge badge-sm bg-gradient-danger">ยกเลิกคำสั่งซื้อ</span>
            </button> -->

          </div>
      </td>
         
      </tr>
    </tbody>
  </table>
</div>

<div *ngFor="let order of orderList; let i = index" class="modal fade pt-6" id="exampleModal" tabindex="-1"
  aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered custom-modal-width">
    <div class="modal-content">
      <div class="modal-header bg-blue-500 shadow-dark">
        <h4 class="modal-title text-white" id="exampleModalLabel">
          แก้ไขข้อมูล
        </h4>
        <button type="button" class="btn-close red-btn" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-md-15">
            <form [formGroup]="updateForm" (ngSubmit)="onSubmit()">
              <div class="form-group row">
                <label for="address" class="col-4 col-form-label">ที่อยู่</label>
                <div class="col-12">
                  <textarea type="text" class="form-control" rows="3" placeholder="{{ order.address }}"
                    formControlName="address"></textarea>
                </div>
              </div>
              <div class="form-group row mb-3">
                <label for="province" class="col-md-4 col-form-label">ตำบล อำเภอ จังหวัด รหัสไปรษณีย์</label>
                <div class="col-md-8">
                  <textarea id="province" class="form-control" rows="3" placeholder="" formControlName="province"></textarea>
                </div>
              </div>
              
              <div class="form-group row">
                <label for="zipcode" class="col-4 col-form-label">เบอร์</label>
                <div class="col-12">
                  <textarea type="text" class="form-control" rows="3" placeholder="{{ order.zipcode }}"
                    formControlName="zipcode"></textarea>
                </div>
              </div>

              <br />
              <div class="form-group row text-end">
                <div class="col-12">
                  <button type="submit" class="btn btn-warning btn-lg">
                    แก้ไข
                  </button>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<div class="modal fade" id="exampleModals" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
          <div class="modal-header">
              <h5 class="modal-title mx-3" id="paymentModal2Label"></h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div *ngIf="selectedOrder?.allimgs && selectedOrder.allimgs.length > 0; else noPaymentImage">
              <div class="modal-body text-center" *ngFor="let allimg of selectedOrder.allimgs; let i = index">
                  <img class="w-50 h-auto rounded mx-auto d-block mb-3" [src]="allimg" alt="QR Code">
              </div>
          </div>
          <ng-template #noPaymentImage>
              <p class="text-bold text-center">No Payment Images Available</p>
          </ng-template>
      </div>
  </div>
</div>

<div class="modal fade pt-4" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered custom-modal-width">
    <div class="modal-content">
      <div class="modal-header bg-white shadow-dark">
        <h4 class="modal-title text-black" id="exampleModalLabel">
          ต้องการยกเลิกคำสั่งซื้อ
        </h4>
        <button type="button" class="btn-close red-btn" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body d-flex flex-column align-items-center">
        <form [formGroup]="updateForm" (ngSubmit)="onSubmit1()">
          <div class="modal-body-content w-100 text-center">
            <div class="form-outline">
              <label class="form-label" for="paymentStatus">สถานะ</label>
              <select formControlName="status" id="paymentStatus" class="form-select form-select-lg">
                <option *ngFor="let status1 of statuses1" [value]="status1.value" [selected]="status1.value == selectedProduct?.status">
                  {{ status1.label }}
                </option>
              </select>
            </div>
            <br />
            <button name="submit" type="submit" class="btn btn-success">
              Update 
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>