

<div class="mx-auto max-w-screen-lg px-4 py-8 sm:px-8" class="container mx-auto px-4 py-5">
  <div class="overflow-y-hidden rounded-lg border">
    <div class="overflow-x-auto">
      <table class="w-full">
        <thead>
          <tr class="bg-gray-600 text-left text-xs font-semibold uppercase tracking-widest text-white">
            <th class="px-5 py-3">#</th>
            <th class="px-5 py-3">FirstName</th>
            <th class="px-5 py-3">Last Name</th>
            <th class="px-5 py-3">Status</th>
            <th class="px-5 py-3">Phone</th>
            <th class="px-5 py-3">Age</th>
            <th class="px-5 py-3">Action</th>
          </tr>
        </thead>
        <tbody class="text-gray-500">
          <tr  *ngFor="let item of userList; let i = index">
            <td class="border-b border-gray-200 bg-white px-5 py-5 text-sm">
              
              <p class="whitespace-no-wrap text-md-start text-black">{{i+1}}</p>
            </td>
            <td class="border-b border-gray-200 bg-white px-5 py-5 text-sm">
              <div class="flex items-center">
                <div class="h-10 w-10 flex-shrink-0">
                    <!-- <img class="h-full w-full rounded-full" src="data:image;base64,{{imgUser}}" alt="User Image"> -->
                </div>
                <div class="ml-3">
                  <p class="whitespace-no-wrap text-black"> {{item.fristName}}</p>
                </div>
              </div>
            </td>
            <td class="border-b border-gray-200 bg-white px-5 py-5 text-sm">
              <p class="whitespace-no-wrap text-black">{{item.lastName}}</p>
            </td>
            <td class="border-b border-gray-200 bg-white px-5 py-5 text-sm">
              <span *ngIf="item.status == '1'" class="rounded-full bg-green-200 px-3 py-1 text-xs font-semibold text-green-900 badge badge-sm bg-gradient-success">ปกติ</span>
              <span *ngIf="item.status != '1'" class="badge badge-sm bg-gradient-danger">ผิดปกติ</span>
            </td>

            <td class="border-b border-gray-200 bg-white px-5 py-5 text-sm">
              <span class="rounded-full bg-green-200 px-3 py-1 text-xs font-semibold text-green-900">{{item.phone}}</span>
            </td>
            <td class="border-b border-gray-200 bg-white px-5 py-5 text-sm">
              <span class="rounded-full bg-yellow-200 px-3 py-1 text-xs font-semibold text-yellow-900">{{item.age}}</span>
            </td>
            <td class="align-middle text-center">
              
              <button class="btn btn-warning" (click)="onUpdateUser(item.userId)">แก้ไข</button>
              <button class="btn btn-danger" (click)="onDeleteUser(item.userId)">ลบ</button>
            </td>
          </tr>
        
          <!-- <table class="table align-middle mb-0 bg-white">
            <thead class="bg-light">
              <tr>
                <th>FristName</th>
                <th>LastName</th>
                <th>Phone</th>
                <th>Age</th>
                <th>Action</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let item of userList; let i = index">
                <td scope="row">{{i+1}}
                  <div class="d-flex align-items-center">
                    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcR81iX4Mo49Z3oCPSx-GtgiMAkdDop2uVmVvw&s" alt=""
                      style="width: 45px; height: 45px" class="rounded-circle" />
                    <div class="ms-3">
                      <p class="fw-bold mb-1">{{item.fristName}}</p>
          
                    </div>
                  </div>
                </td>
                <td class="py-4">
                  <p class="fw-bold mb-1">{{item.lastName}}</p>
          
                </td>
                <td>
                  <span class="badge badge-success rounded-pill d-inline">{{item.phone}}</span>
                </td>
                <td class="fw-bold mb-1">{{item.age}}</td>
                <td>
          
                  <button (click)="setdata(item.userId)" type="button" class="btn btn-outline-warning" data-bs-toggle="modal"
                    data-bs-target="#exampleModal" data-bs-whatever="@fat">เเก้ไข</button>
          
                  <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
                      <div class="modal-content">
                        <div class="modal-header">
                          <h1 class="modal-title fs-5" id="exampleModalLabel">แก้ไขข้อมูล</h1>
                          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                          <form [formGroup]="updateForm" (ngSubmit)="onSubmit()" class="mx-1 mx-md-4">
                            <div class="container-fluid">
                              <div class="row">
                                <div class="col-lg-12 text-center text-lg-start">
                                  <h1 class="display-4 fw-bold lh-1 mb-3">{{title}}</h1>
                                  <p class="col-lg-10 fs-4"></p>
                                </div>
                              </div>
                              <div class="row mb-3">
                                <div class="col">
                                  <div class="form-group input-group">
                                    <div class="input-group-prepend">
                                      <span class="input-group-text"> <i class="fa fa-user"></i> </span>
                                    </div>
                                    <input formControlName="fristName" class="form-control" placeholder="ชื่อ" type="text"
                                      value="">
                                  </div>
                                </div>
                                <div class="col">
                                  <div class="form-group input-group">
                                    <div class="input-group-prepend">
                                      <span class="input-group-text"> <i class="fa fa-user"></i> </span>
                                    </div>
                                    <input formControlName="lastName" class="form-control" placeholder="นามสกุล" type="text">
                                  </div>
                                </div>
                              </div>
                              <div class="row mb-3">
                                <div class="col">
                                  <div class="form-group input-group">
                                    <div class="input-group-prepend">
                                      <span class="input-group-text"> <i class="fa fa-phone"></i> </span>
                                    </div>
                                    <input formControlName="phone" class="form-control" placeholder="หมายเลขโทรศัพท์" type="text">
                                  </div>
                                </div>
                                <div class="col">
                                  <div class="form-group input-group">
                                    <div class="input-group-prepend">
                                      <span class="input-group-text"> <i class="fa fa-envelope"></i> </span>
                                    </div>
                                    <input formControlName="age" class="form-control" placeholder="อายุ" type="text">
                                  </div>
                                </div>
                              </div>
                              <div class="row mb-3">
                                <div class="col">
                                  <div class="form-group input-group">
                                    <div class="input-group-prepend">
                                      <span class="input-group-text"> <i class="fa fa-building"></i> </span>
                                    </div>
                                    <select class="form-control" formControlName="roleId" readonly>
                                      <option *ngFor="let item of roleList" value="{{item.id}}">
                                        {{item.roleName}}</option>
                                    </select>
                                  </div>
                                </div>
                                <div class="col">
                                  <div class="form-group input-group">
                                    <div class="input-group-prepend">
                                      <span class="input-group-text"> <i class="fa fa-user"></i> </span>
                                    </div>
                                    <input formControlName="userName" class="form-control" placeholder="ชื่อผู้ใช้" type="text"
                                      readonly>
                                  </div>
                                </div>
                              </div>
                              <div class="row">
                                <div class="col">
                                  <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">ปิด</button>
                                    <button type="submit" class="btn btn-primary">ยืนยัน</button>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </form>
                        </div>
                      </div>
                    </div>
                  </div>
          
                  <button type="button" class="btn btn-outline-danger" (click)="onDeleteUser(item.userId)">ลบ</button>
                </td>
              </tr>
            </tbody>
          </table>
           -->
